<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'erik'">
    La persona es Erik
  </p>
  <p *ngSwitchCase="'juan'">
    La persona es Juan
  </p>
  <p *ngSwitchCase="'pedro'">
    La persona es Pedros
  </p>
  <p *ngSwitchDefault="">No hace match</p>
</div>
<!-- <p *ngIf="person.name ==== 'erik'">
  La persona es Erik
</p>
<p *ngIf="person.name ==== 'juan'">
  La persona es Juan
</p>
<p *ngIf="person.name ==== 'pedro'">
  La persona es Pedro
</p> -->

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'erik'">Soy Erik!</p>
<p *ngIf="person.name === 'raul' && person.age === 18; else myBlock">Soy Raul!</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel"[(ngModel)]="person.name"/>
<p>Valid: {{ nameInput.valid }}</p>
<p>Edad {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel"[(ngModel)]="person.age"/>
<p>Valid: {{ ageInput.valid }}</p>
<h1>Eventos</h1>
<button [disabled]="btnDisabled"> Enviar</button>
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="ageIncrease()">Un año +</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sapiente quidem ipsa quia dolor iste, fugit inventore repudiandae commodi reprehenderit nisi maxime eos quaerat magni error a porro cupiditate dignissimos.</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name"(keyup)="changeName($event)" />
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled"> Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100"  [src]="person.avatar">
<hr/>
<h1>Hola Mundo!</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="200" src="{{img}}" alt="image">

<!-- Clase 15, El profesor explica la funcion de la extension para Chrome "Angular DevTools" la cual nos puede ayudar para
cualquier proyecto que este desarrollado en Angular, donde podemos ver algunos de sus elementos y asi poder salir de algunas dudas
también ver las caracteristicas de los bloques. -->
